* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  height: 100vh;
}

.alert-container {
  width: 100%;
  height: fit-content;
}

.alert {
  position: fixed;
  margin: 55px 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1500;
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px #ccc;
  color: var(--color);
  background-color: var(--bg-color);
  border-left: 5px solid var(--border-color);
}
