.form-container {
  width: 460px;
  height: auto;
  border-radius: 10px;
  padding: 20px;
  background-color: #fbfbfb;
}

.form-container input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #048c7f;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.form-container textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #048c7f;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

.form-container label {
  display: block;
  float: center;
}

.form-container button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #048c7f;
  border-color: #048c7f;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}

.form-container button p {
  color: azure;
}

.form-container .aviso {
  font-size: 13px;
  color: #0e0e0e;
}

.form-container h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: #048c7f;
}

.form-container h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}

.form-container p {
  font-size: 14px;
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #325358;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #325358;
}
