@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&family=Noto+Serif:wght@400;700&family=Outfit:wght@500&family=Raleway:wght@200;300&display=swap");

/*inicio tarjetas rutas urb y eco*/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: calc(100vh - 120px) !important;
  height: fit-content;
}
.card {
  position: relative;
  width: 450px;
  height: 500px;
  margin: 20px;
}

.add-card {
  width: 450px;
  height: 500px;
  margin: 20px;
  border-radius: 10px;
  background-color: #ececec;
  border: 1px dashed silver;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.add-card:hover {
  background-color: #fff;
}

.add-card img {
  width: 60px;
  margin: 0 auto;
}

.add-card h3 {
  text-align: center;
  margin-top: 10px;
  color: #a8a8a8;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 1s;
}

.card .front {
  transform: perspective(600px) rotate(0);
  box-shadow: 0 5px 10px #a88a6f;
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: #048c7f;
  padding: 15px;
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #9b7b5f;
}

.card .back p {
  letter-spacing: 1px;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

.link a {
  color: black;
}

/* modal */
.modal,
.modal-card {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --transition: transform 0.8s;
}

.modal--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.6s;
  --transform: translateY(0);
  --transition: transform 0.8s 0.8s;
}

.modal__container {
  margin: auto;
  overflow-y: scroll;
  width: 90%;
  max-width: 750px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition: var(--transition);
}

.modal__title {
  font-size: 2.5rem;
}

.modal__paragraph {
  margin-bottom: 10px;
}

.modal__img {
  width: 90%;
  max-width: 300px;
}

.modal__close {
  text-decoration: none;
  color: #fff;
  background-color: #048c7f;
  padding: 1em 3em;
  border: 1px solid;
  border-radius: 6px;
  display: inline-block;
  font-weight: 300;
  transition: background-color 0.3s;
}

.modal__close:hover {
  color: #048c7f;
  background-color: #fff;
}

/* */
.conteiner_modal {
  width: 600px;
  max-height: fit-content;
  border-radius: 10px;
  padding: 20px 30px;
  background-color: #f5f5f5;
}

.conteiner_modal input[type="text"] {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #048c7f;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.conteiner_modal textarea {
  background-color: #fbfbfb;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #048c7f;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

.conteiner_modal label {
  display: block;
  float: center;
}

.conteiner_modal button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #048c7f;
  border-color: #048c7f;
  border-style: solid;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}

.conteiner_modal .disabled {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: silver;
  border: 1px solid grey;
  border-style: solid;
  border-radius: 10px;
  width: 100%;
  cursor: default;
}

.conteiner_modal .disabled-text {
  text-align: center;
}

.conteiner_modal button p {
  color: azure;
}

.conteiner_modal .aviso {
  font-size: 13px;
  color: #0e0e0e;
}

.conteiner_modal h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: #048c7f;
}

.conteiner_modal h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}

.conteiner_modal p {
  font-size: 14px;
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.conteiner_modal .formulario input:focus {
  outline: 0;
  border: 1px solid #325358;
}

.conteiner_modal .formulario textarea:focus {
  outline: 0;
  border: 1px solid #325358;
}

/* Comentarios */

.comment-container {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment-card {
  background-color: white;
  border-radius: 0 15px;
}

.comment-card .user {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #048c7e32;
}

.comment-card .text {
  width: 100%;
  padding: 10px;
}

/* file */

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border-radius: 10px;
  width: 60%;
  display: grid;
  place-content: center;
  background-color: #dcdcdc;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 6px 12px;
  cursor: pointer;
}
